In [1]:
import pyodide_kernel

In [2]:
import pandas as pd
import numpy as np
from string import ascii_uppercase as letters
from IPython.display import display

In [3]:
 tab = pd.read_csv("data/hypotheticalTalents.csv")

In [4]:
tab.head()

,initials,project.management,data.wrangling,data.analysis,subject.expertise,design,storytelling
0,CC,0,0,0,0,1,1
1,MC,0,0,1,1,0,0
2,SC,0,0,0,1,1,0
3,NG,0,0,0,0,0,1
4,RG,0,1,1,0,0,1

In [5]:
tab["project.management"].sum()

np.int64(5)